:root{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 45px;
    margin-top: 250px;
    margin-left: auto;
}

/* Begin button */
.begin-btn {
    font-size: 20px;
    margin-left: 0 auto;
    padding: 3px;
    width: auto;
    text-align: center;
}

/* Next button */
.next-btn {
    font-size: 20px;
    margin-left: 0 auto;
    padding: 3px;
    width: auto;
    text-align: center;
}

